<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :Nome %>
    <%= f.text_field :name, :autofocus => true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :Email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Atualmente aguardando confirmação para: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :Senha %> <i>(Deixe em branco se não quiser alterar)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :Confirmação_da_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :Senha_atual %> <i>(Precisamos da sua antiga senha para modificar sua conta)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
<% end %>
<br><br>
<h3>Deletar a Conta?</h3>

<p>Não gostou? <%= button_to "Deletar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza?" }, method: :delete %></p>

<%= link_to "Voltar", :back %>
