<div class="jumbotron" align="center">
  <h1>IMarket</h1>
  <h3>Não deixe nada perder</h3>
</div>

<div class="center">
  <div class="row">
    <% @listings.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= link_to image_tag(listing.image.url), listing %>
          <div class="caption">
            <h3><%= listing.name %></h3>
            <p><%= number_to_currency(listing.price) %></p>
            <p><%= "Vendedor: #{listing.user.name}" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to "Novo Produto", new_listing_path, class: "btn btn-primary", data: { no_turbolink: true } %>
<% end %>
