<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Imagem</th>
    <th class="center">Nome</th>
    <th class="center">Descrição</th>
    <th class="center">Preço</th>
    <th class="center">Ação</th>
  </tr>

  <% @listings.each do |listing| %>
    <tr>
      <td>
        <%= image_tag listing.image.url(:thumb) %>
      </td>
      <td><%= listing.name %></td>
      <td><%= listing.description %></td>
      <td><%= number_to_currency(listing.price) %></td>
      <td>
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Action <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Ver", listing, class: "btn btn-link" %></li>
            <li><%= link_to "Editar", edit_listing_path(listing), class: "btn btn-link" %></li>
            <li><%= link_to 'Apagar', listing, method: :delete, data: { confirm: "Tem certeza?" }, class: "btn btn-link" %></li>
          </ul>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'Novo Produto', new_listing_path, class: "btn btn-link", data: { no_turbolink: true } %>
<% end %>
