<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu um link para mudar sua senha. Você pode fazer isso no link abaixo:</p>

<p><%= link_to 'Mudar Minha Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a mudança de senha, por favor ignore esse email.</p>
<p>Sua senha não será mudada, a menos que você clique nesse link e siga os passo para a mudança.</p>
