<p>Oi <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada devido a muitas tentativas de login sem sucesso.</p>

<p>Para debloquear sua conta clique no link abaixo:</p>

<p><%= link_to 'Desbloquear Minha Conta', unlock_url(@resource, unlock_token: @token) %></p>
